In [12]:
import time

In [13]:
x =10
y= 3
x+y
x- y
x *y
print(x / y)
print(x // y)   
print(x * y)
print(x - y)

3.3333333333333335
3
30
7

In [14]:
numbers = [1, 2, 3, 4, 5]
numbers[0 :3]
numbers[5 :]
numbers[:]
numbers[-1]
numbers[-3 :]
numbers[-3 : -2]

[3]

In [15]:
names = ["Alice", "Bob", "Charlie", "David"]
names[0]

'Alice'

In [17]:
print(len(names))

4

In [18]:
print(names)

['Alice', 'Bob', 'Charlie', 'David']

In [19]:
phonebook = {}
phonebook = dict()

In [21]:
phonebook = {'Zach': '555-1234', 'Megan': '555-5678', 'Saa': '555-8765'}
print(phonebook)

{'Zach': '555-1234', 'Megan': '555-5678', 'Saa': '555-8765'}

In [22]:
print(phonebook['Zach'])

555-1234

In [25]:
phonebook['John'] = '555-0000'
print(phonebook)

{'Zach': '555-1234', 'Megan': '555-5678', 'Saa': '555-8765', 'John': '555-0000'}

In [26]:
phonebook['Sinbad'] = '555-1334'
print(phonebook)

{'Zach': '555-1234', 'Megan': '555-5678', 'Saa': '555-8765', 'John': '555-0000', 'Sinbad': '555-1334'}

In [29]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
for name in names:
    print("Hello, " + name + "!")

Hello, Alice!
Hello, Bob!
Hello, Charlie!
Hello, David!

In [32]:
for i in range(len(names)):
    print(i, names[i])

0 Alice
1 Bob
2 Charlie
3 David

In [33]:
for name in phonebook:
    print(name, phonebook[name])

Zach 555-1234
Megan 555-5678
Saa 555-8765
John 555-0000
Sinbad 555-1334

In [34]:
for number in phonebook.values():
    print(number)

555-1234
555-5678
555-8765
555-0000
555-1334

In [35]:
for name, number in phonebook.items():
    print(name, number)

Zach 555-1234
Megan 555-5678
Saa 555-8765
John 555-0000
Sinbad 555-1334